body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;
}

hr {
  width: 100%;
  opacity: 0.5;
}

.header {
  display: flex;
  justify-content: space-between;
  opacity: 0.7;
  margin-bottom: 0;
}

.header > i {
  margin-top: 26px;
  margin-right: 14px;
  cursor: pointer;
}

.refresh-icon {
  cursor: pointer;
  transform: rotate(35deg);
}

.roTate {
  transition: transform 0.5s ease-in-out;
}

.roTate:hover {
  transform: rotate(360deg);
}

.container {
  width: 600px;
  margin: 100px auto;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 4px 6px 5px 0 rgb(153, 153, 102, 0.6);
  -webkit-box-shadow: 2px 6px 5px 0 rgb(153, 153, 102, 0.6);
  -moz-box-shadow: 3px 7px 4px 0 rgba(0, 0, 0, 0.6);
}

.todo-list {
  margin-left: -7px;
  position: relative;
}

div ul {
  display: flex;
  list-style: none;
  position: relative;
  margin-bottom: 20px;
  padding-left: 10px;
}

div ul li {
  padding: 0 5px;
}

div ul li input {
  margin-left: 0;
}

.input-text > input {
  border: none;
  margin-left: 10px;
  font-style: italic;
  font-size: 18px;
  caret-color: auto;
  width: 90%;
}

.input-text > input:focus {
  outline: 0;
  font-style: italic;
}

div ul li:last-child {
  position: absolute;
  right: 10px;
}

.clear-btn {
  border: none;
  background-color: #fff;
  width: 80%;
  margin-left: 40px;
  font-size: 17px;
  opacity: 0.7;
  cursor: pointer;
}

.edit-task.active {
  background-color: rgb(209, 202, 202);
  opacity: 0.6;
  padding-top: 4px;
}

.delete-icon {
  display: none;
}

.delete-icon.active {
  position: absolute;
  right: 0;
  bottom: 24px;
}

.strike-thro {
  text-decoration: line-through;
  opacity: 0.3;
}

.edit-input {
  width: 60%;
  left: 40px;
  padding: 5px;
  position: absolute;
  caret-color: auto;
  z-index: 100;
}

.list {
  display: flex;
  align-items: baseline;
  border: 1px solid rgba(220, 220, 220, 1);
  border-radius: 2px;
  width: 95%;
  padding: 1rem 1rem 0 1rem;
}

.pp {
  color: grey;
}
